@{
	ViewData["Title"] = "Home Page";
}

<table class="align-content-center table table-bordered table-dark text-center">
	<tr>
		<td class="align-middle"></td>
		<td class="align-middle"></td>
		<td class="align-middle"></td>
	</tr>
	<tr>
		<td class="align-middle"></td>
		<td class="align-middle"></td>
		<td class="align-middle"></td>
	</tr>
	<tr>
		<td class="align-middle"></td>
		<td class="align-middle"></td>
		<td class="align-middle"></td>
	</tr>
</table>