@{
	ViewData["Title"] = "Maru Batsu Game";
}
@model GameModel

<table class="align-content-center table table-bordered table-dark text-center">
	@for (int i = 0, game = 0; i < 3; i++){
		<tr>
			@for (int j = 0; j < 3; j++,game++){
				<td class="align-middle">@Model.maruBatsu[game]</td>
			}
		</tr>
	}
</table>